""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set NERDTree

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Insert Mode Mappings --------------------------------
""" Enable Paste --------------------------------
imap <C-V> <C-R>+

""" EditorFontSize
""" --EditorIncreaseFontSize
map <leader>if :action EditorIncreaseFontSize<CR>
""" --EditorDecreaseFontSize
map <leader>df :action EditorDecreaseFontSize<CR>
""" --EditorResetFontSize
map <leader>rf :action EditorResetFontSize<CR>

""" Mappings --------------------------------
map <leader>d \"_d
map <leader>D \"_D

map <leader><leader>d :action Debug<CR>

map <leader>z :action ToggleDistractionFreeMode<CR>
map <leader>h :action HideAllWindows<CR>

map <leader>s :action SelectInProjectView<CR>
map <leader>a :action Annotate<CR>
map <S-Space> :action GotoNextError<CR>

map <leader>b :action ToggleLineBreakpoint<CR>
 
""" My Mappings ------------------------------

""" EasyMotion Mappings------------------------------
map <leader><leader>f <Plug>(easymotion-s)

""" --( O )Open ( S )Solution
map <leader>os :action RiderOpenSolution<CR>
""" --( O )Open ( T )Terminal
map <leader>ot :action ActivateTerminalToolWindow<CR>
""" --( O )Open ( R )Run
map <leader>or :action ActivateRunToolWindow<CR>

""" --( R )Run
map <leader>run :action Run<CR>

""" Code Mappings ------------------------------
""" --( G )Generate ( C )Code 
map <leader>gc :action Generate<CR> 
""" --( R )Refactor ( C )Code 
map <leader>rc :action Refactorings.QuickListPopupAction<CR> 
""" --( R )Rename ( C )Code
map <leader>rr :action RenameElement<CR>
""" --( S )Surround ( C )Code
map <leader>sc :action SurroundWith<CR>
""" --( E )Extract ( M )Method
map <leader>em :action ExtractMethod<CR>
""" --( I )Introduce ( V )Variable
map <leader>iv :action IntroduceVariable<CR>

""" Format Mappings
""" --( F )Format ( C )Code
map <leader>fc :action ReformatCode<CR>    
""" --( F )Format ( I )Indentation
map <leader>fi :action AutoIndentLines<CR>    

""" Navigation/Goto Mappings

""" --( N )Navigate ( B )Backward
map <leader>nb :action Back<CR>
""" --( N )Navigate ( F )Forward
map <leader>nf :action Forward<CR>

""" ( G )Goto Mappings
""" -- Goto declaration or ( U )Usage
map <leader>gu :action GotoDeclaration<CR>
""" -- Goto ( D )Derived symbol
map <leader>gd :action GotoImplementation<CR>
""" -- Goto ( I )Implementation
map <leader>gi :action ReSharperGotoImplementation<CR>
""" -- Goto ( T )Type declaration
map <leader>gt :action GotoTypeDeclaration<CR>
""" -- Goto ( B )Base symbol
map <leader>gb :action GotoSuperMethod<CR>

""" Multiple windows split
""" MoveEditorToOppositeTabGroup
map <c-w>m :action MoveEditorToOppositeTabGroup<CR>

""" My specific settings ------------------
set number 
set relativenumber